*{
    padding: 0;
    margin: 0;
}

.banner{
    background-color: gray;
    width: 100%;
}
.banner img{
    height: 110px;
    border: 3px solid white;
    padding: 1px;
    border-radius: 50%;
    position: relative;
    top: 40px;
    left: 30px;
}
.main{
    padding: 50px;
    font-size: 25px;
}
.name-zaiper{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.desc{
    padding-top: 15px;
    letter-spacing: 2px;    
}
.btn{
    padding-top: 10px;
}
.btn button{
    font-size: 18px;
    outline: none;
    border-radius: 10px ;
    padding: 8px 12px;
}
